@{
    Layout = "~/Views/Shared/LoginLay.cshtml";
}

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <div class="border border-3 border-primary"></div>
            <div class="card bg-white shadow-lg">
                <div class="card-body p-5">
                    @using (Html.BeginForm("Validate", "Login"))
                    {
                        <form class="mb-3 mt-md-4">
                            <h2 class="fw-bold mb-2 text-uppercase ">Revista TecNM Nogales </h2>
                            <p class=" mb-5">Porfavor ingrese su corrreo y contraseña!</p>
                            <div class="mb-3">
                                <label for="email" class="form-label ">Correo Electronico</label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="nombre@ejemplo.com">
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label ">Contraseña</label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="*******">
                            </div>
                            <p class="small"><a class="text-primary" href="#">Olvido su contraseña?</a></p>
                            <div class="d-grid">
                                <button class="btn btn-outline-dark" type="submit">Accesar</button>
                            </div>
                        </form>
                    }

                    <div>
                        <p class="mb-0  text-center">
                            No tiene una cuenta?
                            <a href="@Url.Action("Index","Registro")" class="text-primary fw-bold">Registrarse</a>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>